.flexRow {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contributionGraphWrapper {
    display: flex;
    flex-direction: column;
    margin: 20vw 0 0;

    .contributionGraph {
        display: grid;
        grid-template-columns: repeat(51, auto);
        grid-template-rows: repeat(7, auto);
        grid-auto-flow: column;
    }

    .monthsBar {
        display: flex;
        margin-bottom: 0.3vw;
        &__text {
            color: #959494;
            font-size: 1vw;
            margin: 0 auto;
        }
    }
    
    .weekDaysBar {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 0.2vw;

        &__text {
            flex-grow:1;
            color: #959494;
            font-size: 1vw;
            margin: 0 auto;
        }
    }

    .contributionGraphDesription {
        display: flex;
        flex-direction: row;
        margin: 1vw 0;
    
        &__text {
            color: #959494;
            font-size: 1vw;
            margin: 0 0.5vw;
        }
    }
}

